@import "~@mdi/font/css/materialdesignicons.min.css";

h1,h2,h3,h4,h5,h6{
    font-weight: lighter !important;
}

/*.main-body{*/
/*    background-image: url('../assets/images/auth-bg.jpg');*/
/*    background-position: center;*/
/*    background-size: cover;*/
/*}*/


.h-25{
    min-height:25vh !important;
}


.h-50{
    min-height:50vh !important;
}

.h-75{
    min-height:75vh !important;
}

.h-100{
    min-height:100vh !important;
}


.w-25{
    width:25% !important;
}


.w-35{
    width:35% !important;
}


.w-50{
    width:50% !important;
}

.w-75{
    width:75% !important;
}

.w-65{
    width:65% !important;
}

.w-100{
    width:100% !important;
}

.theme--dark.v-badge.nav .v-badge__badge:after {
    border-color: #246fb3 !important;
}
.theme--light.v-application {
    background: #f1f4f7 !important;
}


/*//TOOLTIP CHANGES*/

  .tooltip-top::before {
      border-right: solid 8px transparent;
      border-left: solid 8px transparent;
      transform: translateX(-50%);
      position: absolute;
      z-index: -21;
      content: '';
      top: 100%;
      left: 50%;
      height: 0;
      width: 0;
  }
.tooltip-top.error::before{
    border-top: solid 8px #ff6060;
}

.tooltip-top.success::before{
    border-top: solid 8px #1B5E20;
}
.tooltip-top.secondary::before{
    border-top: solid 8px #3f3f3f;
}

.tooltip-top.primary::before{
    border-top: solid 8px #246fb3;
}

.tooltip-top.info::before{
    border-top: solid 8px #2196f3;
}


.tooltip-bottom::before{
    border-right: solid 8px transparent;
    border-left: solid 8px transparent;
    transform: translateX(-50%);
    position: absolute;
    z-index: -21;
    content: '';
    bottom: 100%;
    left: 50%;
    height: 0;
    width: 0;
}

.tooltip-bottom.error::before{
    border-bottom: solid 8px #ff6060;
}

.tooltip-bottom.success::before{
    border-bottom: solid 8px #1B5E20;
}
.tooltip-bottom.secondary::before{
    border-bottom: solid 8px #3f3f3f;
}

.tooltip-bottom.primary::before{
    border-bottom: solid 8px #246fb3;
}

.tooltip-bottom.info::before{
    border-bottom: solid 8px #2196f3;
}


.tooltip-right::before{
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -8px;
    border-width: 8px;
    border-style: solid;
    border-top: solid 8px transparent;
    border-bottom: solid 8px transparent;
    border-left: solid 8px transparent;
}

.tooltip-right.error::before{
    border-right: solid 8px #ff6060 !important;
}

.tooltip-right.success::before{
    border-right: solid 8px #1B5E20 !important;
}
.tooltip-right.secondary::before{
    border-right: solid 8px #3f3f3f !important;
}

.tooltip-right.primary::before{
    border-right: solid 8px #246fb3 !important;
}

.tooltip-right.info::before{
    border-right: solid 8px #2196f3 !important;
}



.tooltip-left::before{
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%; /* To the left of the tooltip */
    margin-top: -8px;
    border-width: 8px;
    border-style: solid;
    border-top: solid 8px transparent;
    border-bottom: solid 8px transparent;
    border-right: solid 8px transparent;
}

.tooltip-left.error::before{
    border-left: solid 8px #ff6060 !important;
}

.tooltip-left.success::before{
    border-left: solid 8px #1B5E20 !important;
}
.tooltip-left.secondary::before{
    border-left: solid 8px #3f3f3f !important;
}

.tooltip-left.primary::before{
    border-left: solid 8px #246fb3 !important;
}

.tooltip-left.info::before{
    border-left: solid 8px #2196f3 !important;
}

.page-enter-active,
.page-leave-active {
    transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
    opacity: 0;
}

.menu-btn{
    text-transform: none !important;
}
.menu-btn.v-btn--active{
    border-bottom: 2px solid #712525;
    border-radius: 0px !important;
}

.menu-btn.home.v-btn--active{
    opacity: 1 !important;
}

.section-title .bar {
    height: 3px;
    width: 90px;
    background: #712525;
    position: relative;
    border-radius: 30px;
}

.section-title {
    text-align: start;
    max-width: 720px;
    padding:5px
}

.rotate {
    -webkit-animation-name: rotateMe;
    animation-name: rotateMe;
    -webkit-animation-duration: 35s;
    animation-duration: 35s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

@-webkit-keyframes MOVE-BG {
    0% {
        transform: translateX(0)
    }

    to {
        transform: translateX(88px)
    }
}

@keyframes MOVE-BG {
    0% {
        transform: translateX(0)
    }

    to {
        transform: translateX(88px)
    }
}

@-webkit-keyframes rotateMe {
    0% {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(1turn)
    }
}

@keyframes rotateMe {
    0% {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(1turn)
    }
}

.v-input--selection-controls {
    margin: unset !important;
}

@media only screen and (max-width: 600px) {
    .h2-title{
        font-size: 20px;
    }
}

/*//Footer*/

  .bg-theme-blue {
      background-color: #0565AE !important;
      color: white !important;
  }


.theme-footer{
    background-color: #712525 !important;
    color:white !important;
}

.widget-title {
    color:white !important;
}

.footer-widget a{
    color:white !important;
}

.footer-bottom-social a{
    color:white !important;
}

.copyright-social ul li {
    display: inline-block;
    margin-right: 10px;
}
.copyright-social ul li a{
    color: white !important;
    text-decoration: none !important;
}

.widget-title {
    border-bottom: 1px solid #000000;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin: 30px 0;
    padding-bottom: 5px;
    position: relative;
    text-transform: capitalize;
}

.widget-title:before {
    background-color: #fdfffd;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    margin: 0 0 -1px;
    position: absolute;
    width: 40px;
}

ul.footer-bottom-social li {
    display: inline-block;
    list-style: none;
    margin-right: 17px;
    margin-top: 0;
}

.other-store-app {
    align-items: center;
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    height: 70px;
    justify-content: center;
    padding: 0 14px;
    width: 250px;
}

.os-app-icon {
    margin-right: 13px;
}

.os-app-icon i {
    font-size: 32px;
}

.other-store-link {
    display: inline-block;
    margin-bottom: 20px;
    width: auto;
}


.footer-bottom{
    background-color: #1a202c !important;
}
